<header class="{php echo $isAlone?"alone":""}">
    {*<a id="go_home" href="/"><img id="logo" src="/uploads/logo_small_v5.png"></a>*}
    {if !$isAlone}
        <a id="header_menu_roll" class="disabled" href="{plink Header:default}">
            <i class="fa fa-bars"aria-hidden="true"></i>
        </a>
    {/if}
    <a id="go-home" href="/">Go Home</a>
    <nav>
        <ul id="header-container" class="{$isLoggedIn?"logged-in":"logged-out"}">
            {if $isAlone}
                <li>
                    <h1>{_"site_navigation"}:</h1>
                </li>
            {/if}
            {if $isLoggedIn}
                <li id="manage-your-maps">
                    <a href="{plink Map:manage}">
                        {_"manage_your_maps"}
                    </a>
                </li>
                <li id="signed-in-as">
                    <span>{_"signed_in_as_label"}:
                        <a href="{plink Profile:default}">
                            {$identity->getUsername()}
                        </a>
                    </span>
                </li>
                <li id="sign-out">
                    <a id="signOut" href="{plink Profile:SignOut}">
                        {_"sign_out_label"}
                    </a>
                </li>
            {else}
                <li id="sign-up">
                    <a id="signUp" href="{plink Auth:SignUp}">
                        {_"sign_up_label"}
                    </a>
                </li>
                <li id="log-in">
                    <a id="logIn" href="{plink Auth:LogIn}">
                        {_"log_in_label"}
                    </a>
                </li>
            {/if}
        </ul>
    </nav>
</header>
