session:
    autoStart: yes
    cookieParth: '/'
    expiration: 10 days
    identity: UserIdentity

services:
    routerFactory: Router(%consoleMode%)
    router: @routerFactory::createRouter
    authenticator: UserManager
    - TokenManager
    - Translator
    - MapManager
    - MailerWrapper
    - FormFactory
    - Nette\Mail\SmtpMailer
