header {
  background: $background-color1;
  padding: 15px;

  display: block;
  border-bottom: 1px solid $background-color2;

  max-height: 100vw;
  overflow-y: auto;

  color: $background-color2;

  a#go_home {
    float: left;
    img#logo {
      height: 70px;
      width: auto;
    }
  }

  span#header_menu_roll {
    float: right;
    color: $background-color2;
    text-decoration: none;
    font-size: 70px;
    cursor: pointer;

    &:hover, &:active {
      color: red;
    }
  }

  div#header-container {
    overflow: hidden;
    position: relative;
    top: -500px;
    vertical-align: middle;
    padding: 1px;
    font-size: 1rem;
    text-align: center;

    transition: all 1.3s linear;
    &.active {
      //IE
      top: 0;
    }

    a {
      color: black;
      font-size: 1.5rem;

      text-decoration: none;

      display: block;
    }
  }
}
