@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic,cyrillic-ext,latin-ext");
html, body, a {
  padding: 0;
  margin: 0; }

html {
  font-size: 100%;
  max-width: 100vw;
  transition: all 0.15s linear;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  line-height: 1.7rem;
  color: black; }

* {
  box-sizing: inherit;
  color: inherit;
  transition: inherit;
  font-family: inherit;
  font-size: inherit; }

body {
  overflow-y: scroll; }

h1 {
  font-size: 2rem; }

h2 {
  font-size: 1.6rem; }

h3 {
  font-size: 1.3rem; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

header {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #f39c12; }
  header.alone ul {
    height: initial !important; }
  header #go-home {
    display: inline-block;
    background: url("/uploads/logo_small.png") no-repeat;
    background-size: 43px 30px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    height: 30px;
    width: 43px; }
  header #header_menu_roll {
    display: inline-block;
    cursor: pointer;
    color: initial;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden; }
    header #header_menu_roll:hover, header #header_menu_roll:focus, header #header_menu_roll:visited, header #header_menu_roll:active {
      text-decoration: none;
      color: initial; }
  header ul#header-container {
    height: 0px;
    margin: 0 auto;
    width: 70%;
    padding: 0px;
    display: block;
    overflow-y: hidden; }
    header ul#header-container h1 {
      margin: 0;
      font-size: 1.5rem; }
    header ul#header-container li {
      display: block;
      text-align: center;
      margin: 0; }
      header ul#header-container li:hover {
        color: white; }

footer {
  padding: 5px;
  border-top: 1px solid black; }
  footer div {
    display: block;
    text-align: center; }

/* use this instead of display:grid because of Edge - thank you, Microsoft*/
@supports (grid-area: auto) {
  body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content 1fr min-content;
    grid-template-areas: "header" "messages" "content" "footer";
    min-height: 100vh; }
    body header {
      grid-area: header;
      display: grid;
      grid-template-columns: min-content 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "logo nav";
      /* a bit too complicated but cleaner */ }
      body header #go-home {
        float: none;
        grid-area: logo; }
      body header #header_menu_roll {
        display: none; }
      body header nav {
        grid-area: nav; }
        body header nav ul#header-container {
          height: 100%;
          margin: 0;
          width: 100%;
          display: grid;
          justify-content: end;
          grid-template-rows: 1fr;
          grid-gap: 4%; }
          body header nav ul#header-container li {
            align-self: center; }
          body header nav ul#header-container.logged-in {
            grid-template-columns: auto auto auto;
            grid-template-areas: "maps logged-in-as log-out"; }
            body header nav ul#header-container.logged-in li#manage-your-maps {
              grid-area: maps; }
            body header nav ul#header-container.logged-in li#logged-in-as {
              grid-area: logged-in-as; }
            body header nav ul#header-container.logged-in li#log-out {
              grid-area: log-out; }
          body header nav ul#header-container.logged-out {
            grid-template-columns: auto auto;
            grid-template-areas: "log-in sign-up"; }
            body header nav ul#header-container.logged-out li#sign-up {
              grid-area: sign-up; }
            body header nav ul#header-container.logged-out li#log-in {
              grid-area: log-in; }
      body header.alone ul {
        display: block; } }
/* some stuff comes from https://github.com/engageinteractive/core/blob/master/src/scss/utility/_mixins.scss */
a {
  cursor: pointer; }
  a.disabled {
    cursor: default; }

#flash-message-container .flash-message {
  padding: 10px; }
  #flash-message-container .flash-message.info {
    background: #4CAF50; }

main#content, #flash-message-container {
  display: block; }
  main#content.centered, #flash-message-container.centered {
    width: 70%;
    margin: 0 auto;
    padding: 10px; }

/*# sourceMappingURL=site.css.map */
