$background-color1: white;
$background-color2: black;

@import "reset";
@import "header";
@import "footer";
@import "modern";
/* some stuff comes from https://github.com/engageinteractive/core/blob/master/src/scss/utility/_mixins.scss */
a {
  cursor: pointer;
  &.disabled {
    cursor: default;
  }
}

#flash-message-container {
  .flash-message {
    padding: 10px;
    &.info {
      background: #4CAF50;
    }
  }
}

main#content, #flash-message-container {
  display: block;
  &.centered {
    width: 70%;
    margin: 0 auto;
    padding: 10px;
  }
}