$background-color1: white;
$background-color2: black;

@import "functions";
@import "reset";
@import "header";
@import "footer";
@import "modern";
@import "responsive";

/* some stuff comes from https://github.com/engageinteractive/core/blob/master/src/scss/utility/_mixins.scss */
a {
  cursor: pointer;
  &.disabled {
    cursor: default;
  }
}